body {
  font-family: Arial, sans-serif;
  background-image: url('../img/Tu_bg.jpg');
  background-size: cover, contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-h {
  font-size: 4em;
  color: #ed3939;
}

.container {
  text-align: center;
  width: 400px;
  margin: 60px auto;
}

.container-form {
  width: 400px;
  margin: 10px auto;
  background-color: #f8c6c6cd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

select {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #f03434;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #b90b0b;
}

.logo {
  margin-bottom: 30px;
}

.logo img {
  width: 150px;
  height: 150px;
}

.password-wrapper {
  position: relative; 
  margin-bottom: 12px; 
}

.password-wrapper input {
  width: 100%; 
  padding-right: 40px; 
}

.toggle-password-btn {
  width: 20px;  
  height: 15px; 
  cursor: pointer; 
  position: absolute; 
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 1; 
}